	/*FORMATAÇÃO DA NAVEGAÇÃO*/
.navbar ul{
	list-style:none;
	margin:0;
}.navbar ul:after{
	content:"";
	display:table;
	clear:both;
}.navbar li{
	float:left;
	margin-right:1.65em;
}.navbar a,.navbar span{
	display:block;
	text-decoration:none;
}.navigation-toggle{
	display:none;
	text-transform:uppercase;
	position:relative;
	color:#0f0f0f;
	background-color:#fff;
}

    /*EXPERIENCIAS*/
.work .work-list{
    margin-left:0px;
}.work .work-list li{
    list-style:none;
    font-size:0.9375em;
    color:#8c8c8c;
}.work .work-list li a{
    padding-bottom:1px;
    font-size:1.1875em;
    font-weight:700;
    text-decoration:none;
    border-bottom:1px solid #b3b3b3
}.award .award-list li:first-child{
    font-size:0.9375em;
    color:#8c8c8c;
}

	/*ESPAÇAMENTO ENTRE A NAV E A BIO*/
.intro{
    padding:130px 0px 90px 0px;
    overflow-x:hidden;
}


    /*FORMATAÇÃO IMAGEM BIO*/
.intro img{
    width:81px;
    height:81px;
    border-radius:99px;
}



	/*FORMATAÇÃO DOS TOPICOS*/
h1,.h1{
	line-height:1.1;
	font-size:2.10em;
}


	/*ESPAÇAMENTO DA BARRA ENTRE OS TOPICOS*/
p,ul,ol{
	margin-bottom:1.65em;
}


	/*POSIÇÃO DA BIO*/
.units-split .unit-80,
.units-split .unit-50,
.units-split .unit-20{
	margin-left:0;
}
	/*POSIÇÃO DA FOTO EM RELAÇÃO AO NOME AO LADO*/
.units-split .unit-20{
	width:20%;
}


	/*ESPAÇAMENTO DO COINTAINER NOME PRINCIPAL*/	
.units-split .unit-80{
	width:80%;
}

	/*FAZ SUMIR AS BOLINHAS DAS LISTAS DO CONTEUDO PRINCIPAL*/
.list-flat{
	margin-left:0;
	list-style:none;
}

	/*ICONES DE CONTATO*/
@font-face{
	font-family:'FontAwesome';
	src:url('../fonts/fontawesome-webfont.eot?v=4.2.0'),
	url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'),
	url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
	font-weight:normal;
	font-style:normal;
}
.fa{
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
.fa-github-square:before{
	content:"\f092";
}
.fa-github:before{
	content:"\f09b";
}
.fa-twitter:before{
	content:"\f099";
}
.fa-linkedin:before{
	content:"\f0e1";
}
.fa-send:before{
	content:"\f1d8";
}
.fa-send-o:before{
	content:"\f1d9";
}

	/*POSIÇÃO DOS ICONES DOS CONTATOS*/
.units-row .unit-80:first-child,
.units-row .unit-50:first-child,
.units-row .unit-20:first-child{
	margin-left:0;
}
.units-row .unit-50{
	width:48.5%;
}

footer{
    padding:50px 0px 0px 0px;
}

footer .social li{
    display:inline;
    margin-left:20px;
}

footer .social li a{
    font-size:1.25em;
    color:#999;
}
